.footer {
  color: var(--color-white);
  text-align: center;
}

.footerContent {
  background-color: var(--color-blue);
}

.divider {
  display: block;
  width: 100%;
  height: auto;
  transform: translateZ(0);
}
