@use "breakpoints";

:root {
  --color-white: #ffffff;
  --color-light-grey: #eeeeee;
  --color-light-blue: #5787be;
  --color-blue: #2b74c1;
  --color-dark-blue: #003670;
  --color-text: #525252;
  --max-width: 1600px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4;
  color: var(--color-text);
}

html {
  font-size: 100%;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  color: var(--color-blue);
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;

  @include breakpoints.breakpoint("small") {
    font-size: 4.209rem;
  }
}

h2 {
  font-size: 2.074rem;

  @include breakpoints.breakpoint("small") {
    font-size: 3.157rem;
  }
}

h3 {
  font-size: 1.728rem;

  @include breakpoints.breakpoint("small") {
    font-size: 2.369rem;
  }
}

h4 {
  font-size: 1.44rem;

  @include breakpoints.breakpoint("small") {
    font-size: 1.777rem;
  }
}

h5 {
  font-size: 1.2rem;

  @include breakpoints.breakpoint("small") {
    font-size: 1.333rem;
  }
}

small,
.text_small {
  font-size: 0.833rem;

  @include breakpoints.breakpoint("small") {
    font-size: 0.75rem;
  }
}

a {
  color: var(--color-blue);

  &:hover {
    text-decoration: underline double var(--color-blue);
  }
}

a.light {
  color: var(--color-white);

  &:hover {
    text-decoration: underline double var(--color-white);
  }
}

a.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: 12px;
    height: 20px;
  }

  &:hover {
    background-color: var(--color-dark-blue);
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding: 24px;
  margin: 0 auto;

  @include breakpoints.breakpoint("large") {
    max-width: 90%;
  }

  @include breakpoints.breakpoint("huge") {
    max-width: 66.6666666%;
  }

  @include breakpoints.breakpoint("insane") {
    max-width: 50%;
  }
}

.intro {
  font-size: 1.2em;
  margin-bottom: 2em;

  @include breakpoints.breakpoint("medium") {
    max-width: 50%;
    margin-bottom: 3em;
  }
}
