html,
body {
  background: #0473e8;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline double white;
}

* {
  box-sizing: border-box;
}
