:root {
  --color-white: #ffffff;
  --color-blue: #3c9afc;
  --color-dark-blue: #0058b6;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: var(--color-blue);

  &:hover {
    color: var(--color-dark-blue);
  }
}

* {
  box-sizing: border-box;
}
