.nav {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-bottom: 8px solid white;
  padding: 12px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subTitle {
  font-weight: normal;
}
